@font-face {
  font-family: "RedHat-Regular";
  src: url(../../assets/fonts/RedHatText-VariableFont_wght.ttf)
    format("truetype");
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  gap: 32px;
}

.container,
.container * {
  box-sizing: border-box;
}

.menu {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.defaults {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  font-family: "RedHat-Regular";
  font-size: 16px;
  font-weight: 400;
  color: var(--rose-900);
}

.menu > h2 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.7em;
}

.container button {
  cursor: pointer;
}
